html {
    background-color: black;
}

.text-center {
    text-align: center;
    color: #007bff;
    padding-top: 30px;
    font-weight: normal;
}

.subtitle {
    text-align: center;
    color: white;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

th, td {
    width: 150px;
    height: 30px;
    color: white;
    padding: 0.75rem;
    min-width: 150px;
}

.scroll {
    overflow: auto;
    max-width: 80%;
    max-height: 700px;
    margin: auto;
}

th {
    text-align: left;
    border:1px solid #32383e;
}

.constant_header, .variable_header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.constant_header::before, .variable_header::before, .col_sticky::before, .col_sticky_sub::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #32383e;
}

.col_sticky {
    position: sticky;
    left: 0;
    z-index: 1;
}

.col_sticky_sub {
    position: sticky;
    left: 175px;
    z-index: 1;
}

.col1 {
    position: sticky;
    left: 0;
    z-index: 2;
}

.col2 {
    position: sticky;
    left: 175px;
    z-index: 2;
}

td {
    opacity: 1.0;
}

.title_header {
    background: #212529;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.variable_header, .title{
    background: #ff8f73;
}

.constant_header{
    background: red;
}

.service {
    background: white;
    color: #000000;
    border:1px solid #32383e;
}

.title {
    background: red;
    vertical-align: top;
}

img {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
}