html {
    background-color: black;
}

.text-center {
    text-align: center;
    color: #007bff;
    padding-top: 30px;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

th, td {
    width: 100px;
    color: white;
    text-align: center;
    padding: 0.75rem;
}

th:hover, td:hover {
    opacity: 1.0;
}

th {
    height: 50px;
    border-top:1px solid #32383e;
    border-bottom:1px solid #32383e;
    opacity: 0.8;
}

td {
    height: 80px;
    opacity: 0.8;
}

.title_header {
    background: #212529;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7rem;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 10px solid #dee2e6;
}

.service1 {
    filter: drop-shadow(8px 8px 10px black);
    background: #007bff;
}
.service2 {
    filter: drop-shadow(8px 8px 10px black);
    background: #28a745;
}
.service3 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff8307;
}
.service4 {
    filter: drop-shadow(8px 8px 10px black);
    background: #dc3545;
}
.service5 {
    filter: drop-shadow(8px 8px 10px black);
    background: #17a2b8;
}
.service6 {
    filter: drop-shadow(8px 8px 10px black);
    background: #4528a7;
}
.service7 {
    filter: drop-shadow(8px 8px 10px black);
    background: #a74528;
}
.service8 {
    filter: drop-shadow(8px 8px 10px black);
    background: #c107ff;
}
.service9 {
    filter: drop-shadow(8px 8px 10px black);
    background: #6c757d;
}
.service10 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff007b;
}
.service11 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff4507;
}
.service12 {
    filter: drop-shadow(8px 8px 10px black);
    background: #b817a2;
}
.service13 {
    filter: drop-shadow(8px 8px 10px black);
    background: #a2b817;
}

img {
    height: 40px;
    width: 40px;
}
