html {
    background-color: black;
}

.text-center {
    text-align: center;
    color: #007bff;
    padding-top: 30px;
    font-weight: normal;
}

.subtitle {
    text-align: center;
    color: white;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

th, td {
    width: 150px;
    height: 20px;
    color: white;
    padding: 0.75rem;
    min-width: 150px;
}

.scroll {
    overflow: auto;
    max-width: 1500px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

th:hover, td:hover {
    opacity: 1.0;
}

th {
    text-align: left;
    border-top:1px solid #32383e;
    border-bottom:1px solid #32383e;
    opacity: 0.8;
}

td {
    opacity: 0.8;
}

.title_header {
    background: #212529;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 10px solid #dee2e6;
}

.variable_header, .title{
    background: #ff8f73;
    opacity: 1.0;
    border:1px solid #32383e;
}

.constant_header{
    background: red;
    opacity: 1.0;
    border:1px solid #32383e;
}

.service {
    background: white;
    color: #000000;
    opacity: 1.0;
    border:1px solid #32383e;
}

.title {
    background: red;
    vertical-align: top;
}

img {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
}