html {
    background-color: black;
}

.text-center {
    text-align: center;
    color: #007bff;
    padding-top: 30px;
    font-weight: "normal";
}

h1 {
    font-size: 3rem;
}

th, td {
    width: 100px;
    color: white;
    text-align: center;
    padding: 0.75rem;
}

th:hover, td:hover {
    opacity: 1.0;
}


th {
    height: 50px;
    border-top:1px solid #32383e;
    border-bottom:1px solid #32383e;
    opacity: 0.8;
}

td {
    height: 80px;
    opacity: 0.8;
}

.title_header {
    background: #212529;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 10px solid #dee2e6;
}

.service-01 {
    filter: drop-shadow(8px 8px 10px black);
    background: #007bff;
}
.service-02 {
    filter: drop-shadow(8px 8px 10px black);
    background: #28a745;
}
.service-03 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff8307;
}
.service-04 {
    filter: drop-shadow(8px 8px 10px black);
    background: #dc3545;
}
.service-05 {
    filter: drop-shadow(8px 8px 10px black);
    background: #17a2b8;
}
.service-06 {
    filter: drop-shadow(8px 8px 10px black);
    background: #4528a7;
}
.service-07 {
    filter: drop-shadow(8px 8px 10px black);
    background: #a74528;
}
.service-08 {
    filter: drop-shadow(8px 8px 10px black);
    background: #c107ff;
}
.service-09 {
    filter: drop-shadow(8px 8px 10px black);
    background: #6c757d;
}
.service-10 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff007b;
}
.service-11 {
    filter: drop-shadow(8px 8px 10px black);
    background: #ff4507;
}
.service-12 {
    filter: drop-shadow(8px 8px 10px black);
    background: #b817a2;
}
.service-13 {
    filter: drop-shadow(8px 8px 10px black);
    background: #a2b817;
}

.Cloud_service {
    background: #f0f8ff;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    color: #000000;
    font-size: 1.5rem;
    vertical-align: bottom;
}

.Cloud_list {
    text-align: center;
}

.service_header, .title{
    background: #ff8f73;
    opacity: 1.0;
    border:1px solid #32383e;
}

.service {
    background: white;
    color: #000000;
    opacity: 1.0;
    border:1px solid #32383e;
    height: 40px;
}
